<div class="depot_form">
	<% if flash[:alert] %>
		<p id="notice"><%= flash[:alert] %></p>
	<% end %>

	<%= form_tag do %>
		<fieldset>
			<legend>Please log in</legend>

			<div>
				<%= label_tag :name, 'name:' %>
				<%= text_field_tag :name, params[:name] %>
			</div>

			<div>
				<%= label_tag :password, 'password:' %>
				<%= text_field_tag :password, params[:password] %>
			</div>

			<div>
				<%= submit_tag "login" %>
			</div>
		</fieldset>
	<% end %>
</div>