<h2>Your Cart</h2>
<table>
	<%= render(cart.line_items) %>

	<tr class="total line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>

<%= button_to 'empty cart', cart, method: :delete, data: { confirm: "are you sure" } %>