<% unless cart.line_items.empty? %>
<div class="cart_title">Your Cart</div>
<table>
	<%= render(cart.line_items) %>

	<tr class="total line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>

<%= button_to "checkout", new_order_path, method: :get %>
<%= button_to 'empty cart', cart, method: :delete, data: { confirm: "are you sure" } %>
<% end %>